USE [master]
GO
/****** Object:  Database [AutogearDB]    Script Date: 07-01-2016 17:31:04 ******/
CREATE DATABASE [AutogearDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutogearDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AutogearDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AutogearDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AutogearDB_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutogearDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutogearDB]
GO
/****** Object:  DatabaseRole [user]    Script Date: 07-01-2016 17:31:04 ******/
CREATE ROLE [user]
GO
/****** Object:  DatabaseRole [instructor]    Script Date: 07-01-2016 17:31:04 ******/
CREATE ROLE [instructor]
GO
/****** Object:  DatabaseRole [admin]    Script Date: 07-01-2016 17:31:04 ******/
CREATE ROLE [admin]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Address]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[Address1] [nvarchar](150) NULL,
	[AddressLine2] [nvarchar](150) NULL,
	[SuburbID] [int] NOT NULL,
	[PostCode] [int] NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Hometown] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Jobtitle] [nvarchar](100) NULL,
	[Educationlevel] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[InstructorId] [nvarchar](128) NOT NULL,
	[BookingDate] [datetime] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[PickupLocation] [nvarchar](150) NULL,
	[DropLocation] [nvarchar](150) NULL,
	[PackageId] [int] NULL,
	[Discount] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CancelledDate] [datetime] NULL,
	[CancelledReason] [nvarchar](200) NULL,
	[Type] [nvarchar](50) NULL,
	[RTAId] [int] NULL,
	[DrivingTestStatus] [nvarchar](50) NULL,
	[DrivingTestAttempt] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[ModifiedBy] [nvarchar](128) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructor_Leaves]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Leaves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [nvarchar](128) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Reason] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Instructor_Leaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructor_Student]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [nvarchar](128) NOT NULL,
	[StudentId] [int] NOT NULL,
	[DateLinked] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Instructor_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorId] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Created_By] [nvarchar](50) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_Date] [datetime] NULL,
	[Modified_By] [nvarchar](50) NULL,
	[InstructorNumber] [nvarchar](8) NULL,
	[AddressId] [int] NULL,
 CONSTRAINT [PK_Instructors_1] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Package_Details]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package_Details](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[NumberOfHours] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[ModifiedBy] [nvarchar](128) NULL,
 CONSTRAINT [PK_Package_Details] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostCodes]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCodes](
	[PostCode] [int] NOT NULL,
	[SuburbID] [int] NOT NULL,
 CONSTRAINT [PK_PostCodes] PRIMARY KEY CLUSTERED 
(
	[PostCode] ASC,
	[SuburbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RTAs]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTAs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_RTAs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[State_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_License]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_License](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[LicenseNo] [nvarchar](50) NULL,
	[StateId] [int] NULL,
	[ExpiryDate] [date] NOT NULL,
	[Class] [nvarchar](50) NULL,
	[License_passed_Date] [date] NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsInternationalLicensed] [bit] NOT NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student_License] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Gender] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](128) NULL,
	[Email] [nvarchar](300) NOT NULL,
	[AddressId] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suburbs]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suburbs](
	[SuburbId] [int] IDENTITY(1,1) NOT NULL,
	[Suburb_Name] [nvarchar](100) NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_Suburbs] PRIMARY KEY CLUSTERED 
(
	[SuburbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-01-2016 17:31:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [Address1], [AddressLine2], [SuburbID], [PostCode], [Phone], [Mobile], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'h-no: 7-1331/5, kp road', N'proddatur', 1, 1001, N'9884500224', N'9884500224', CAST(0x0000A58400C639C0 AS DateTime), N'045c87dc-9338-4069-965b-1c3b8aea6cd1', NULL, NULL)
INSERT [dbo].[Address] ([AddressId], [Address1], [AddressLine2], [SuburbID], [PostCode], [Phone], [Mobile], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'plot 32b, flat a1, latha flats', N'porur', 1, 1001, N'4040971932', N'4040971932', CAST(0x0000A58400DA32C4 AS DateTime), N'045c87dc-9338-4069-965b-1c3b8aea6cd1', CAST(0x0000A58400EFC85C AS DateTime), N'045c87dc-9338-4069-965b-1c3b8aea6cd1')
INSERT [dbo].[Address] ([AddressId], [Address1], [AddressLine2], [SuburbID], [PostCode], [Phone], [Mobile], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, N'plot 32a', N'nizampet', 1, 1001, N'9966019049', N'9966019049', CAST(0x0000A58400DC3972 AS DateTime), N'045c87dc-9338-4069-965b-1c3b8aea6cd1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Address] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'20e18e55-7305-44ab-b358-58b78255659b', N'Instructor')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'20e32bc0-8efb-4eca-ba38-4eb878a236ba', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'045c87dc-9338-4069-965b-1c3b8aea6cd1', N'20e32bc0-8efb-4eca-ba38-4eb878a236ba')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', N'20e18e55-7305-44ab-b358-58b78255659b')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'42d88820-255f-4678-88e5-0df0279c4d14', N'20e18e55-7305-44ab-b358-58b78255659b')
INSERT [dbo].[AspNetUsers] ([Id], [Hometown], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Jobtitle], [Educationlevel], [Country], [EmployeeId]) VALUES (N'045c87dc-9338-4069-965b-1c3b8aea6cd1', NULL, N'admin@autogear.in', 0, N'AFlfH5FZ7CSRfy87HWvu6jKbUv1R2GIlXhd+O0wE8aHOla1vFv4nCPUaFtw2H4YyZg==', N'c707781e-3fad-4766-aedf-20aed2593924', NULL, 0, 0, NULL, 0, 0, N'admin@autogear.in', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[AspNetUsers] ([Id], [Hometown], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Jobtitle], [Educationlevel], [Country], [EmployeeId]) VALUES (N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', NULL, N'ravikumar533@gmail.com', 0, N'AAzxiaSF68BCfqt7Q8iPba+Wvf7MOO0gQDwmJ4Rvg+t2t90NHHQRlml/xB0Sxg7gPA==', N'90a19b6a-070f-4c90-9341-c472bca19770', NULL, 0, 0, NULL, 0, 0, N'ravikumar533@gmail.com', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[AspNetUsers] ([Id], [Hometown], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Jobtitle], [Educationlevel], [Country], [EmployeeId]) VALUES (N'42d88820-255f-4678-88e5-0df0279c4d14', NULL, N'prabha@gmail.com', 0, N'AKZtysOrX1UdQZ+P/bSxoiH5LxoqWz0up5ef9YRsIJnpE3es/46lGie0reAAV9vi5w==', N'e4d28668-185e-4ec4-941d-2e3bf4bf84ca', NULL, 0, 0, NULL, 0, 0, N'prabha@gmail.com', NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [StudentId], [InstructorId], [BookingDate], [StartTime], [EndTime], [PickupLocation], [DropLocation], [PackageId], [Discount], [Status], [CancelledDate], [CancelledReason], [Type], [RTAId], [DrivingTestStatus], [DrivingTestAttempt], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [StartDate], [EndDate]) VALUES (2, 1, N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Driving', NULL, NULL, NULL, CAST(0x0000A584016A1610 AS DateTime), NULL, N'045c87dc-9338-4069-965b-1c3b8aea6cd1', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Instructor_Leaves] ON 

INSERT [dbo].[Instructor_Leaves] ([Id], [InstructorId], [StartDate], [EndDate], [Reason], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (4, N'e4825d14-880c-46cb-b936-aab1a84411e4', CAST(0x0000A57600000000 AS DateTime), CAST(0x0000A57700000000 AS DateTime), N'Fever for me', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Instructor_Leaves] OFF
SET IDENTITY_INSERT [dbo].[Instructor_Student] ON 

INSERT [dbo].[Instructor_Student] ([Id], [InstructorId], [StudentId], [DateLinked], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy]) VALUES (6, N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', 1, NULL, N'045c87dc-9338-4069-965b-1c3b8aea6cd1', CAST(0x0000A584016A1602 AS DateTime), NULL, NULL)
INSERT [dbo].[Instructor_Student] ([Id], [InstructorId], [StudentId], [DateLinked], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy]) VALUES (7, N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', 2, NULL, N'045c87dc-9338-4069-965b-1c3b8aea6cd1', CAST(0x0000A58500000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Instructor_Student] ([Id], [InstructorId], [StudentId], [DateLinked], [CreatedBy], [CreatedDate], [ModifiedDate], [ModifiedBy]) VALUES (8, N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', 3, NULL, N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', CAST(0x0000A585012D4F1F AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Instructor_Student] OFF
INSERT [dbo].[Instructors] ([InstructorId], [FirstName], [LastName], [Gender], [Phone], [Mobile], [Email], [Created_By], [Created_Date], [Modified_Date], [Modified_By], [InstructorNumber], [AddressId]) VALUES (N'045c87dc-9338-4069-965b-1c3b8aea6cd1', N'admin', N'admin', N'1', NULL, NULL, N'admin@autogear.in', NULL, CAST(0x0000A57C00000000 AS DateTime), NULL, NULL, N'INS-1001', NULL)
INSERT [dbo].[Instructors] ([InstructorId], [FirstName], [LastName], [Gender], [Phone], [Mobile], [Email], [Created_By], [Created_Date], [Modified_Date], [Modified_By], [InstructorNumber], [AddressId]) VALUES (N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', N'Ravi Kumar', N'kammari', N'1', N'9884500224', N'9884500224', N'ravikumar533@gmail.com', N'045c87dc-9338-4069-965b-1c3b8aea6cd1', CAST(0x0000A58400C642BA AS DateTime), NULL, NULL, N'INS-1002', 1)
INSERT [dbo].[Instructors] ([InstructorId], [FirstName], [LastName], [Gender], [Phone], [Mobile], [Email], [Created_By], [Created_Date], [Modified_Date], [Modified_By], [InstructorNumber], [AddressId]) VALUES (N'42d88820-255f-4678-88e5-0df0279c4d14', N'Prabhakar', N'MM', N'1', N'9966019049', N'9966019049', N'prabha@gmail.com', N'045c87dc-9338-4069-965b-1c3b8aea6cd1', CAST(0x0000A58400DC3979 AS DateTime), NULL, NULL, N'INS-1004', 3)
SET IDENTITY_INSERT [dbo].[Package_Details] ON 

INSERT [dbo].[Package_Details] ([PackageId], [Name], [NumberOfHours], [Cost], [Description], [Type], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'First 1hour', 1, 45, N'First one hour discount', N'LESSON', CAST(0x0000A57F00000000 AS DateTime), CAST(0x0000A57F00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Package_Details] ([PackageId], [Name], [NumberOfHours], [Cost], [Description], [Type], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'5 Hours package', 2, 240, N'5 hours package', N'LESSON', CAST(0x0000A57F00000000 AS DateTime), CAST(0x0000A57F00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Package_Details] ([PackageId], [Name], [NumberOfHours], [Cost], [Description], [Type], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'First Driving Test', 2, 150, N'First driving test', N'TEST', CAST(0x0000A57F00000000 AS DateTime), CAST(0x0000A57F00000000 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Package_Details] OFF
INSERT [dbo].[PostCodes] ([PostCode], [SuburbID]) VALUES (1001, 1)
INSERT [dbo].[PostCodes] ([PostCode], [SuburbID]) VALUES (1002, 1)
INSERT [dbo].[PostCodes] ([PostCode], [SuburbID]) VALUES (1003, 1)
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateId], [State_Name]) VALUES (1, N'NSW')
INSERT [dbo].[States] ([StateId], [State_Name]) VALUES (2, N'ACT')
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[Student_License] ON 

INSERT [dbo].[Student_License] ([Id], [StudentId], [LicenseNo], [StateId], [ExpiryDate], [Class], [License_passed_Date], [Remarks], [IsInternationalLicensed], [Country]) VALUES (6, 1, N'AP20420120004191', 1, CAST(0x25490B00 AS Date), NULL, CAST(0x463A0B00 AS Date), N'Test taken ', 0, NULL)
INSERT [dbo].[Student_License] ([Id], [StudentId], [LicenseNo], [StateId], [ExpiryDate], [Class], [License_passed_Date], [Remarks], [IsInternationalLicensed], [Country]) VALUES (7, 2, NULL, 1, CAST(0x00000000 AS Date), NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Student_License] ([Id], [StudentId], [LicenseNo], [StateId], [ExpiryDate], [Class], [License_passed_Date], [Remarks], [IsInternationalLicensed], [Country]) VALUES (8, 3, NULL, 1, CAST(0x00000000 AS Date), NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Student_License] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Gender], [StartDate], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Email], [AddressId]) VALUES (1, N'Rishi Sai Hitesh', N'Kammari', 1, CAST(0x0000A58500000000 AS DateTime), 1, CAST(0x0000A584016A15E4 AS DateTime), N'045c87dc-9338-4069-965b-1c3b8aea6cd1', NULL, NULL, N'rishi@gmail.com', 4)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Gender], [StartDate], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Email], [AddressId]) VALUES (2, N'Rama mohan', N'Kammari', 1, CAST(0x0000A58600000000 AS DateTime), 1, CAST(0x0000A58501235EE5 AS DateTime), N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', NULL, NULL, N'mohan@gmail.com', 5)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Gender], [StartDate], [Status], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Email], [AddressId]) VALUES (3, N'Santhi', N'K', 2, CAST(0x0000A58500000000 AS DateTime), 1, CAST(0x0000A585012D4F0D AS DateTime), N'0a11e2c7-d379-41fd-81d7-92355e4a55a9', NULL, NULL, N'santhi.kalpana25@gmail.com', 6)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Suburbs] ON 

INSERT [dbo].[Suburbs] ([SuburbId], [Suburb_Name], [StateId]) VALUES (1, N'SYDNEY', 1)
INSERT [dbo].[Suburbs] ([SuburbId], [Suburb_Name], [StateId]) VALUES (2, N'HAYMARKET', 1)
INSERT [dbo].[Suburbs] ([SuburbId], [Suburb_Name], [StateId]) VALUES (3, N'AUSTRALIA SQUARE', 1)
GO
SET IDENTITY_INSERT [dbo].[Suburbs] OFF
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_EmployeeId]  DEFAULT ((0)) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_AspNetUsers]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_AspNetUsers1]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Suburbs] FOREIGN KEY([SuburbID])
REFERENCES [dbo].[Suburbs] ([SuburbId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Suburbs]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AspNetUsers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_AspNetUsers1]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Package_Details] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package_Details] ([PackageId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Package_Details]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_RTAs] FOREIGN KEY([RTAId])
REFERENCES [dbo].[RTAs] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_RTAs]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Students]
GO
ALTER TABLE [dbo].[Instructor_Leaves]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Leaves_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor_Leaves] CHECK CONSTRAINT [FK_Instructor_Leaves_AspNetUsers]
GO
ALTER TABLE [dbo].[Instructor_Leaves]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Leaves_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor_Leaves] CHECK CONSTRAINT [FK_Instructor_Leaves_AspNetUsers1]
GO
ALTER TABLE [dbo].[Instructor_Student]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Student_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor_Student] CHECK CONSTRAINT [FK_Instructor_Student_AspNetUsers]
GO
ALTER TABLE [dbo].[Instructor_Student]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Student_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructor_Student] CHECK CONSTRAINT [FK_Instructor_Student_AspNetUsers1]
GO
ALTER TABLE [dbo].[Instructor_Student]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Student_Instructors] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([InstructorId])
GO
ALTER TABLE [dbo].[Instructor_Student] CHECK CONSTRAINT [FK_Instructor_Student_Instructors]
GO
ALTER TABLE [dbo].[Instructor_Student]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Student_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Instructor_Student] CHECK CONSTRAINT [FK_Instructor_Student_Students]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_Address]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_AspNetUsers] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_AspNetUsers]
GO
ALTER TABLE [dbo].[Package_Details]  WITH CHECK ADD  CONSTRAINT [FK_Package_Details_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Package_Details] CHECK CONSTRAINT [FK_Package_Details_AspNetUsers]
GO
ALTER TABLE [dbo].[Package_Details]  WITH CHECK ADD  CONSTRAINT [FK_Package_Details_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Package_Details] CHECK CONSTRAINT [FK_Package_Details_AspNetUsers1]
GO
ALTER TABLE [dbo].[PostCodes]  WITH CHECK ADD  CONSTRAINT [FK_PostCodes_Suburbs1] FOREIGN KEY([SuburbID])
REFERENCES [dbo].[Suburbs] ([SuburbId])
GO
ALTER TABLE [dbo].[PostCodes] CHECK CONSTRAINT [FK_PostCodes_Suburbs1]
GO
ALTER TABLE [dbo].[Student_License]  WITH CHECK ADD  CONSTRAINT [FK_Student_License_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Student_License] CHECK CONSTRAINT [FK_Student_License_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Address]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_AspNetUsers]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_AspNetUsers1]
GO
ALTER TABLE [dbo].[Suburbs]  WITH CHECK ADD  CONSTRAINT [FK_Suburbs_States] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Suburbs] CHECK CONSTRAINT [FK_Suburbs_States]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_AspNetUsers]
GO
USE [master]
GO
