
@{
    ViewBag.Title = "Students";
}


<p>
    @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-success" })
</p>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
@section Scripts{
    @Scripts.Render("~/bundles/bootstrap");
@Scripts.Render("~/bundles/bootstrappicker");
    @Scripts.Render("~/bundles/jqGrid");
    <script>
        $(function() {
            var baseUrl = "/Api/AutogearApi/";
            $("#jqGrid").jqGrid({
                url: baseUrl + "GetStudents",
                datatype: "json",
                colModel: [
                {
                    label: "StudentId",
                    name: "studentId",
                    width: 100,
                    key: true,
                    editable: true,
                    editrules :{required:true}
                },
                 {
                     label: 'First Name',
                     name: 'firstName',
                     width: 100,
                     key: true,
                     editable: true,
                     editrules: { required: true }
                 },
                 {
                     label: 'Last Name',
                     name: 'lastName',
                     width: 100,
                     editable: true // must set editable to true if you want to make the field editable
                 },
                 {
                     label: 'Instructor',
                     name: 'instructorName',
                     width: 100,
                     editable: true
                 },
                 {
                     label: 'StartDate',
                     name: 'startDate',
                     width: 100,
                     editable: true,
                     formatter: "date",
                     formatoptions: { srcformat: "ISO8601Long", newformat: "d-M-Y" }
                 }
                ],
                sortname: 'FirstName',
                sortorder: 'asc',
                loadonce: true,
                viewrecords: true,
                width: 780,
                height: 200,
                rowNum: 10,
                pager: "#jqGridPager"
            });

        });
    </script>
}




