li.white a { color: white !important;}
.ui-autocomplete,.ui-datepicker { z-index: 1100 !important;}
.checkbox label { padding-left: 0 !important;}
.ui-jqgrid tr.ui-row-ltr td {
    -moz-text-overflow: ellipsis !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
}
.modal-dialog{ width: 64%;}
span.menu-text { width: 76%;display: inline-block;}
.nav-list > li > a{ height: 45px !important;}
.nav-list > li > a > .menu-icon { vertical-align: inherit !important;}
.chosen-container-single{ width: 100% !important;}