li.white a { color: white !important;}
.ui-autocomplete,.ui-datepicker { z-index: 1100 !important;}
.checkbox label { padding-left: 0 !important;}
.ui-jqgrid tr.ui-row-ltr td {
    -moz-text-overflow: ellipsis !important;
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
}
.modal-dialog{ width: 64%;}
span.menu-text { width: 76%;display: inline-block;}
.nav-list > li > a{ height: 45px !important;}
.nav-list > li > a > .menu-icon { vertical-align: inherit !important;}
.chosen-container-single{ width: 100% !important;}
    .loading {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100%;
        background-color: rgba(192, 192, 192, 0.5);
        background-image: url("http://i.stack.imgur.com/MnyxU.gif");
        background-repeat: no-repeat;
        background-position: center;
    }